node_modules/         
.env                 
dist/               
build/             
coverage/            
npm-debug.log*
yarn-error.log* 
.DS_Store            
Thumbs.db    
logs/

results.json

# Ignore all log files everywhere
*.log

# Ignore all files in data/ (remove this if you want to keep data tracked)
data/

# Ignore all files in posters/ (remove this if you want to keep posters tracked)
posters/